In [28]:
import pandas as pd
import numpy as np

In [50]:
ib2011 = pd.read_csv('../raw/ib2011m.csv', header=None, encoding='latin_1')
ib2011.head(11)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Imnavait Basin 2011 Draft Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Note: 6999 = Missing Data, 7777 = Data not col...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,1 meter,3 meter,10 meter,NaN,1 meter,3 meter,10 meter,NaN,NaN,NaN,NaN,NaN
7,NaN,Day of,Wind,Wind,Wind,Wind,Air,Air,Air,1 meter,3 meter,10 meter,Station,NaN
8,Date Time,Year,Speed,Speed,Speed,Direction,Temperature,Temperature,Temperature,RH,RH,RH,Pressure,Rainfall
9,(AST),"(Days, AST)",(m/s),(m/s),(m/s),(° True North),(°C),(°C),(°C),(%),(%),(%),(mb),(mm)
10,1/1/2011 1:00,1.04,1,1.3,1.6,329,-38.3,-38.4,-38.1,66,65,66,975,7777

In [51]:
ib2011.columns = ['DateTime', 'Days (AST)','1 m Wind Speed (m/s)',
                 '3 m Wind Speed (m/s)', '10 m Wind Speed (m/s)',
                 'Wind Direction (deg. True North)', '1 m Air Temp (deg. C)',
                 '3 m Air Temp (deg. C)', '10 m Air Temp (deg. C)',
                  '1 m RH (%)','3 m RH (%)', '10 m RH (%)', 'Pressure (mb)', 'Rainfall']
ib2011.drop(ib2011.index[0:10], inplace=True)
ib2011.drop('Days (AST)', axis=1, inplace=True)
ib2011.head(3)

,DateTime,1 m Wind Speed (m/s),3 m Wind Speed (m/s),10 m Wind Speed (m/s),Wind Direction (deg. True North),1 m Air Temp (deg. C),3 m Air Temp (deg. C),10 m Air Temp (deg. C),1 m RH (%),3 m RH (%),10 m RH (%),Pressure (mb),Rainfall
10,1/1/2011 1:00,1,1.3,1.6,329,-38.3,-38.4,-38.1,66,65,66,975,7777
11,1/1/2011 2:00,0.7,1.1,1.3,102,-38.8,-38.6,-38,66,65,67,975,7777
12,1/1/2011 3:00,0.8,1,1.3,119,-38.4,-38,-37.3,66,66,68,975,7777

In [52]:
ib2012 = pd.read_csv('../raw/ib2012m.csv', header=None, encoding='latin_1')
ib2012.head(11)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,2012 Imnavait Basin Draft Partial Met Data Set,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"(partial year 01 Jan - 01 Nov, 2012)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7777 denotes data not collected or meaningless...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,Wind,Wind,Wind,Wind,Air,Air,Air,Relative,Relative,Relative,NaN,NaN
7,NaN,NaN,NaN,NaN,Speed,Speed,Speed,Direction,Temperature,Temperature,Temperature,Humidity,Humidity,Humidity,Station,NaN
8,Year,Day of Year,Hour-Minute,Date Time,1 Meter,3 Meter,10 Meter,10 Meter,1 Meter,3 Meter,10 Meter,1 Meter,3 Meter,10 Meter,Pressure,Rainfall - Tipping Bucket
9,(AST),(AST),(AST),(AST),(m/s),(m/s),(m/s),(° TN),(m/s),(m/s),(m/s),(m/s),(m/s),(m/s),(mb),(mm)
10,2012,1,100,1/1/12 1:00,0.5,0.5,0.4,153,-25.4,-25.0,-24.4,80,80,82,979,7777

In [53]:
ib2012.drop([0,1,2], axis=1, inplace=True)
ib2012.columns = ib2011.columns
ib2012.drop(ib2012.index[0:10], inplace=True)
ib2012.head(3)

,DateTime,1 m Wind Speed (m/s),3 m Wind Speed (m/s),10 m Wind Speed (m/s),Wind Direction (deg. True North),1 m Air Temp (deg. C),3 m Air Temp (deg. C),10 m Air Temp (deg. C),1 m RH (%),3 m RH (%),10 m RH (%),Pressure (mb),Rainfall
10,1/1/12 1:00,0.5,0.5,0.4,153,-25.4,-25.0,-24.4,80,80,82,979,7777
11,1/1/12 2:00,0.6,0.5,0.4,120,-27.7,-26.4,-24.9,78,79,81,979,7777
12,1/1/12 3:00,0.6,0.7,0.4,141,-27.4,-26.1,-25.3,78,79,81,979,7777

In [61]:
ib2013 = pd.read_csv('../raw/ib2013m.csv', header=None)#, encoding='latin_1')
ib2013.head(12)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Imnavait Basin 2013 Met Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Date Time (AST),day of year,WS_1m_avg,WS_3m_avg,WS_10m_avg,WD_10m_avg,WD_stddev_10m,WD_10m_inst,AT_1m_avg,AT_3m_avg,AT_10m_avg,RH_1m_avg,RH_3m_avg,RH_10m_avg,AtmPr_inst,Rainfall - Tipping Bucket
11,1/1/2013 1:00,1.04,0.8,1.7,2.5,135,23.55,112.7,-9.4,-8.6,-6.1,94,94,80,979,7777

In [62]:
ib2013.drop([1,6,7], axis=1, inplace=True)
ib2013.columns = ib2011.columns
ib2013.drop(ib2013.index[0:11], inplace=True)
ib2013.head(3)

,DateTime,1 m Wind Speed (m/s),3 m Wind Speed (m/s),10 m Wind Speed (m/s),Wind Direction (deg. True North),1 m Air Temp (deg. C),3 m Air Temp (deg. C),10 m Air Temp (deg. C),1 m RH (%),3 m RH (%),10 m RH (%),Pressure (mb),Rainfall
11,1/1/2013 1:00,0.8,1.7,2.5,135,-9.4,-8.6,-6.1,94,94,80,979,7777
12,1/1/2013 2:00,2.4,3.9,6.3,134,-11.4,-10.1,-5.5,91,91,67,979,7777
13,1/1/2013 3:00,2.3,3.6,5.2,143,-10.6,-8.1,-4.9,91,82,61,979,7777

In [66]:
ib2014 = pd.read_csv('../raw/ib2014m.csv', header=None, encoding='latin_1')
ib2014.head(12)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Draft Data Set,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Imnavait Met Site,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014 Met Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6999 = missing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,7777 = not measured,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,1 meter,3 meter,10 meter,NaN,1 meter,3 meter,10 meter,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,Wind,Wind,Wind,Wind,Air,Air,Air,1 meter,3 meter,10 meter,Station,NaN
9,Day of Year,Date Time,Speed,Speed,Speed,Direction,Temperature,Temperature,Temperature,RH,RH,RH,Pressure,Rainfall
10,(AST),(AST),(m/s),(m/s),(m/s),(° True North),(°C),(°C),(°C),(%),(%),(%),(mb),(mm)
11,1.04,1/1/2014 1:00,8.7,10.0,12.2,142.9,-10.6,-10.09,-9.07,59.03,53.89,45.97,977,6999

In [67]:
ib2014.drop(0, axis=1, inplace=True)
ib2014.columns = ib2011.columns
ib2014.drop(ib2014.index[0:11], inplace=True)
ib2014.head(3)

,DateTime,1 m Wind Speed (m/s),3 m Wind Speed (m/s),10 m Wind Speed (m/s),Wind Direction (deg. True North),1 m Air Temp (deg. C),3 m Air Temp (deg. C),10 m Air Temp (deg. C),1 m RH (%),3 m RH (%),10 m RH (%),Pressure (mb),Rainfall
11,1/1/2014 1:00,8.7,10.0,12.2,142.9,-10.6,-10.09,-9.07,59.03,53.89,45.97,977,6999
12,1/1/2014 2:00,9.4,10.8,13.1,144.1,-10.47,-9.98,-9.01,62.46,57.26,49.29,977,6999
13,1/1/2014 3:00,9.5,11.0,13.3,143.2,-10.28,-9.79,-8.86,64.1,59.19,51.43,977,6999

In [73]:
ib2011_2014 = pd.concat([ib2011, ib2012, ib2013, ib2014])
ib2011_2014.drop(['3 m Air Temp (deg. C)', '10 m Air Temp (deg. C)',
                 '3 m RH (%)', '10 m RH (%)', 'Rainfall'], axis=1, inplace=True)
ib2011_2014.head(3)

,DateTime,1 m Wind Speed (m/s),3 m Wind Speed (m/s),10 m Wind Speed (m/s),Wind Direction (deg. True North),1 m Air Temp (deg. C),1 m RH (%),Pressure (mb)
10,1/1/2011 1:00,1,1.3,1.6,329,-38.3,66,975
11,1/1/2011 2:00,0.7,1.1,1.3,102,-38.8,66,975
12,1/1/2011 3:00,0.8,1,1.3,119,-38.4,66,975

In [84]:
ib2015 = pd.read_csv('../raw/ib2015m.csv', header=None)#, encoding='latin_1')
ib2015.head(21)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Meteorology Data Imnavait Met B Site 2015-2017...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Flags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"ICE-Ice affected stage, EST-Estimated discharge",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,wt-avg is pressure transducer water temperature,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"6999-bad/missing, 7777-not collected",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,see readme-20160802.txt for variable units and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Dr. Chris Arp and Dr. Sveta Stuefer:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,cdarp@alaska.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,sveta.stuefer@alaska.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Water and Environmental Research Center, Unive...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,P.O. Box 755860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Fairbanks, Alaska 99775-5860",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,907-474-2783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,If you use any of the data presented in this w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Arp, C.D. and Stuefer, S. (year of retrieval)....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,URL: http://ine.uaf.edu/werc/research Fairbank...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,station_id,MM/DD/YYYY hh:mm:ss,precip_Tot,at_1m_Avg,rh_1m,at_3m_Avg,rh_3m,at_10m_Avg,rh_10m,windSpeed_1m,...,pb_Avg,netRad_Avg,snowdepth_Avg,atm_lw_rad_avg,terr_lw_rad_avg,inc_sw_rad_avg,refl_sw_rad_avg,at_2m_Avg,rh_2m,winddir_3m
20,Imnavait_Cr_Met,1/1/2015 1:00,7777,-5.896,95.4,-5.299,96.3,-4.984,97.2,6999,...,985,7777,7777,7777,7777,7777,7777,7777,7777,7777

In [85]:
ib2015.iloc[19]

0              station_id
1     MM/DD/YYYY hh:mm:ss
2              precip_Tot
3               at_1m_Avg
4                   rh_1m
5               at_3m_Avg
6                   rh_3m
7              at_10m_Avg
8                  rh_10m
9            windSpeed_1m
10           windSpeed_3m
11          windSpeed_10m
12            winddir_10m
13       windSpeed_1m_Max
14       windSpeed_3m_Max
15      windSpeed_10m_Max
16                 pb_Avg
17             netRad_Avg
18          snowdepth_Avg
19         atm_lw_rad_avg
20        terr_lw_rad_avg
21         inc_sw_rad_avg
22        refl_sw_rad_avg
23              at_2m_Avg
24                  rh_2m
25             winddir_3m
Name: 19, dtype: object

In [86]:
ib2015=ib2015.copy()[[1, 9, 10, 11, 12, 3, 4, 16]]
ib2015.columns = ib2011_2014.columns
ib2015.drop(ib2015.index[0:20], inplace=True)
ib2015.head(3)

,DateTime,1 m Wind Speed (m/s),3 m Wind Speed (m/s),10 m Wind Speed (m/s),Wind Direction (deg. True North),1 m Air Temp (deg. C),1 m RH (%),Pressure (mb)
20,1/1/2015 1:00,6999,2.033,2.24,184.7,-5.896,95.4,985
21,1/1/2015 2:00,6999,2.153,2.217,176.3,-6.304,95.1,985
22,1/1/2015 3:00,6999,1.771,2.297,116.8,-6.108,95.3,985

In [87]:
ib2016 = pd.read_csv('../raw/ib2016m.csv', header=None)#, encoding='latin_1')
ib2016.head(21)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Meteorology Data Imnavait Met B Site 2015-2017...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Flags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"ICE-Ice affected stage, EST-Estimated discharge",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,wt-avg is pressure transducer water temperature,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"6999-bad/missing, 7777-not collected",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,see readme-20160802.txt for variable units and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Dr. Chris Arp and Dr. Sveta Stuefer:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,cdarp@alaska.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,sveta.stuefer@alaska.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Water and Environmental Research Center, Unive...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,P.O. Box 755860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Fairbanks, Alaska 99775-5860",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,907-474-2783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,If you use any of the data presented in this w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Arp, C.D. and Stuefer, S. (year of retrieval)....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,URL: http://ine.uaf.edu/werc/research Fairbank...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,station_id,MM/DD/YYYY hh:mm:ss,precip_Tot,at_1m_Avg,rh_1m,at_3m_Avg,rh_3m,at_10m_Avg,rh_10m,windSpeed_1m,...,pb_Avg,netRad_Avg,snowdepth_Avg,atm_lw_rad_avg,terr_lw_rad_avg,inc_sw_rad_avg,refl_sw_rad_avg,at_2m_Avg,rh_2m,winddir_3m
20,Imnavait_Cr_Met,1/1/2016 1:00,7777,-4.426,76.39,-4.294,75.05,-3.84,71.75,6999,...,966,7777,7777,7777,7777,7777,7777,7777,7777,7777

In [88]:
ib2016.iloc[19]

0              station_id
1     MM/DD/YYYY hh:mm:ss
2              precip_Tot
3               at_1m_Avg
4                   rh_1m
5               at_3m_Avg
6                   rh_3m
7              at_10m_Avg
8                  rh_10m
9            windSpeed_1m
10           windSpeed_3m
11          windSpeed_10m
12            winddir_10m
13       windSpeed_1m_Max
14       windSpeed_3m_Max
15      windSpeed_10m_Max
16                 pb_Avg
17             netRad_Avg
18          snowdepth_Avg
19         atm_lw_rad_avg
20        terr_lw_rad_avg
21         inc_sw_rad_avg
22        refl_sw_rad_avg
23              at_2m_Avg
24                  rh_2m
25             winddir_3m
Name: 19, dtype: object

In [89]:
ib2016=ib2016.copy()[[1, 9, 10, 11, 12, 3, 4, 16]]
ib2016.columns = ib2011_2014.columns
ib2016.drop(ib2016.index[0:20], inplace=True)
ib2016.head(3)

,DateTime,1 m Wind Speed (m/s),3 m Wind Speed (m/s),10 m Wind Speed (m/s),Wind Direction (deg. True North),1 m Air Temp (deg. C),1 m RH (%),Pressure (mb)
20,1/1/2016 1:00,6999,6999,7.425,195.6,-4.426,76.39,966
21,1/1/2016 2:00,6999,6999,9.03,192.3,-4.406,73.16,966
22,1/1/2016 3:00,6999,6999,7,203.9,-4.843,75.05,968

In [90]:
ib2017 = pd.read_csv('../raw/ib2017m.csv', header=None)#, encoding='latin_1')
ib2017.head(21)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Meteorology Data Imnavait Met B Site 2015-2018...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Flags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"ICE-Ice affected stage, EST-Estimated discharge",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,wt-avg is pressure transducer water temperature,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"6999-bad/missing, 7777-not collected",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,see readme-20180412.txt for variable units and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Dr. Chris Arp and Dr. Sveta Stuefer:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,cdarp@alaska.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,sveta.stuefer@alaska.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Water and Environmental Research Center, Unive...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,P.O. Box 755860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Fairbanks, Alaska 99775-5860",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,907-474-2783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,If you use any of the data presented in this w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Arp, C.D. and Stuefer, S. (year of retrieval)....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,URL: http://ine.uaf.edu/werc/research Fairbank...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,station_id,MM/DD/YYYY hh:mm:ss,precip_Tot,at_1m_Avg,rh_1m,at_3m_Avg,rh_3m,at_10m_Avg,rh_10m,windSpeed_1m,...,pb_Avg,netRad_Avg,snowdepth_Avg,atm_lw_rad_avg,terr_lw_rad_avg,inc_sw_rad_avg,refl_sw_rad_avg,at_2m_Avg,rh_2m,winddir_3m
20,Imnavait_Cr_Met,1/1/2017 1:00,7777,-3.452,82.8,-3.353,80.4,-3.027,77.33,7.1,...,1002,7777,7777,7777,7777,7777,7777,7777,7777,7777

In [91]:
ib2017=ib2017.copy()[[1, 9, 10, 11, 12, 3, 4, 16]]
ib2017.columns = ib2011_2014.columns
ib2017.drop(ib2017.index[0:20], inplace=True)
ib2017.head(3)

,DateTime,1 m Wind Speed (m/s),3 m Wind Speed (m/s),10 m Wind Speed (m/s),Wind Direction (deg. True North),1 m Air Temp (deg. C),1 m RH (%),Pressure (mb)
20,1/1/2017 1:00,7.1,8.29,9.45,178.6,-3.452,82.8,1002
21,1/1/2017 2:00,7.007,8.25,9.58,179.3,-1.754,70.72,1002
22,1/1/2017 3:00,5.768,6.907,8.23,193.1,0.288,59.97,1002

In [92]:
ib2018 = pd.read_csv('../raw/ib2018m.csv', header=None)#, encoding='latin_1')
ib2018.head(21)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,Meteorology Data Imnavait Met B Site 2015-2018...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Flags,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"ICE-Ice affected stage, EST-Estimated discharge",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,wt-avg is pressure transducer water temperature,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"6999-bad/missing, 7777-not collected",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,see readme-20180412.txt for variable units and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Dr. Chris Arp and Dr. Sveta Stuefer:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,cdarp@alaska.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,sveta.stuefer@alaska.edu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"Water and Environmental Research Center, Unive...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,P.O. Box 755860,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"Fairbanks, Alaska 99775-5860",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,907-474-2783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,If you use any of the data presented in this w...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Arp, C.D. and Stuefer, S. (year of retrieval)....",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,URL: http://ine.uaf.edu/werc/research Fairbank...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,station_id,MM/DD/YYYY hh:mm:ss,precip_Tot,at_1m_Avg,rh_1m,at_3m_Avg,rh_3m,at_10m_Avg,rh_10m,windSpeed_1m,...,pb_Avg,netRad_Avg,snowdepth_Avg,atm_lw_rad_avg,terr_lw_rad_avg,inc_sw_rad_avg,refl_sw_rad_avg,at_2m_Avg,rh_2m,winddir_3m
20,Imnavait_Cr_Met,1/1/2018 1:00,7777,-19.43,75.43,-19.31,77.05,-18.14,78.94,0.792,...,986,7777,7777,7777,7777,7777,7777,7777,7777,7777

In [93]:
ib2018=ib2018.copy()[[1, 9, 10, 11, 12, 3, 4, 16]]
ib2018.columns = ib2011_2014.columns
ib2018.drop(ib2018.index[0:20], inplace=True)
ib2018.head(3)

,DateTime,1 m Wind Speed (m/s),3 m Wind Speed (m/s),10 m Wind Speed (m/s),Wind Direction (deg. True North),1 m Air Temp (deg. C),1 m RH (%),Pressure (mb)
20,1/1/2018 1:00,0.792,0.852,0.685,161.2,-19.43,75.43,986
21,1/1/2018 2:00,0.547,0.617,0.443,106.9,-18.91,83.1,986
22,1/1/2018 3:00,0.447,0.592,0.405,261,-18.62,81.9,985

In [121]:
ib2011_2018 = pd.concat([ib2011_2014, ib2015, ib2016, ib2017, ib2018])

In [122]:
ib2011_2018.head()

,DateTime,1 m Wind Speed (m/s),3 m Wind Speed (m/s),10 m Wind Speed (m/s),Wind Direction (deg. True North),1 m Air Temp (deg. C),1 m RH (%),Pressure (mb)
10,1/1/2011 1:00,1,1.3,1.6,329,-38.3,66,975
11,1/1/2011 2:00,0.7,1.1,1.3,102,-38.8,66,975
12,1/1/2011 3:00,0.8,1,1.3,119,-38.4,66,975
13,1/1/2011 4:00,1.4,1.9,2.3,157,-37.6,67,975
14,1/1/2011 5:00,1.6,2.1,2.7,154,-35.2,70,975

In [124]:
ib2011_2018.to_csv('../imnav_2011_2018_met_data_clean.csv', index=False)